.login-page{
    height: 100vh;
    background-color: var(--lightNavy);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.login-title{
    color: white;
    margin-bottom: 70px;
    font-family: 'DynaPuff', cursive;
    font-size: 72px;
    font-weight: 500;
}
.login-screen{
    height: 450px; width: 700px;
    background-color: var(--lightBegie);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%; width: 90%;
}
#login-form:first-child{
    margin-top: 40px;
}
.login-input{
    margin-bottom: 25px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
#login-form i{
    margin-left: 45px;
    margin-right: 35px;
    font-size: 40px;
}
.login-input input{
    border: none;
    border-bottom: var(--border);
    width: 68%; height: 80%;
    background-color: var(--lightBegie);
    font-size: 20px;
} 
.login-submit{
    margin-top: 15px;
    text-align: center;
    width: 75%;
}
#login-submit{
    background-color: var(--lightNavy);
    color: white;
    border-radius: 8px;
    border: var(--border);
    width: 100%;
    height: 55px;
    font-size: 20px;
    margin-top: 24px;
}
.join_search{
    width: 40%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.join_search a{
    text-decoration: none;
}
.search, .join{
    color: rgb(106, 106, 106);
}